
*.vsidx
.vs/PS3_XMB_Tools/v17/DocumentLayout.json
.vs/PS3_XMB_Tools/v17/.suo
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/App.g.cs
obj/Debug/net6.0-windows/App.g.i.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/CustomMessageBox.baml
obj/Debug/net6.0-windows/CustomMessageBox.g.cs
obj/Debug/net6.0-windows/CustomMessageBox.g.i.cs
obj/Debug/net6.0-windows/MainWindow.baml
obj/Debug/net6.0-windows/MainWindow.g.cs
obj/Debug/net6.0-windows/MainWindow.g.i.cs
obj/Debug/net6.0-windows/PS3_XMB_.AAA536C4.Up2Date
obj/Debug/net6.0-windows/PS3_XMB_Tools.AssemblyInfo.cs
obj/Debug/net6.0-windows/PS3_XMB_Tools.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools.assets.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/PS3_XMB_Tools.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/PS3_XMB_Tools.dll
obj/Debug/net6.0-windows/PS3_XMB_Tools.g.resources
obj/Debug/net6.0-windows/PS3_XMB_Tools.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/PS3_XMB_Tools.genruntimeconfig.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools.GlobalUsings.g.cs
obj/Debug/net6.0-windows/PS3_XMB_Tools.pdb
obj/Debug/net6.0-windows/PS3_XMB_Tools.sourcelink.json
obj/Debug/net6.0-windows/PS3_XMB_Tools_MarkupCompile.cache
obj/Debug/net6.0-windows/PS3_XMB_Tools_MarkupCompile.i.cache
obj/Debug/net6.0-windows/ref/PS3_XMB_Tools.dll
obj/Debug/net6.0-windows/refint/PS3_XMB_Tools.dll
obj/project.assets.json
obj/project.nuget.cache
obj/PS3_XMB_Tools.csproj.nuget.dgspec.json
obj/PS3_XMB_Tools.csproj.nuget.g.props
obj/PS3_XMB_Tools.csproj.nuget.g.targets
.vs/ProjectEvaluation/ps3_xmb_tools.metadata.v7.bin
.vs/ProjectEvaluation/ps3_xmb_tools.projects.v7.bin
.vs/PS3_XMB_Tools/DesignTimeBuild/.dtbcache.v2
.vs/PS3_XMB_Tools/v17/.futdcache.v2
